* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 97%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 1px;
}

window#waybar {
  background: rgba(29,29,29,0.6);
  border-radius: 0px;
  color: whitesmoke;
}

window#waybar.hidden { opacity: 0.5; }
window#waybar.empty  { background-color: transparent; }
window#waybar.empty #window { padding: 0; border: 0; background-color: transparent; }

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
  color: #cba6f7;
}

#workspaces button {
  color: #6E6A86;
  padding: 0 4px;
  border-radius: 9px;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
  color: whitesmoke;
  border-radius: 15px;
  padding: 0 8px;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
  color: whitesmoke;
  border-radius: 15px;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink { to { color: #000000; } }

#backlight, #battery, #bluetooth, #clock, #cpu, #disk,
#idle_inhibitor, #memory, #mode, #mpris, #network,
#pulseaudio, #taskbar, #temperature, #tray, #window,
#workspaces, #custom-cycle_wall, #custom-menu,
#custom-power, #custom-swaync, #custom-separator#blank,
#custom-separator#blank_2 {
  padding: 3px 6px;
}
